* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: url("../assets/images/image1.jfif") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}
 
li {
    margin-left: 35px;
    margin-bottom : 5px;
}

/*
** Navigation bar
*/
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: #3d3d52;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgb(226,226,226);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 22px;
}

.logo img {
    max-width: 60px;
}

.logo h4 {
    margin: 0;
}

.logo-link {
    text-decoration: none;
}

.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 38%;
    margin: 0;
}
.nav-links li {
    list-style: none;
    color: rgb(226,226,226);
}
.nav-links li a {
    position: relative;
    text-decoration: none;
    color: rgb(226,226,226);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links li a:hover:after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
}

.nav-links li a::after {
    content: '';
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(25%);
    transform: translateX(-50%) translateY(25%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #c95407 transparent;
    -webkit-transition: opacity .3s ease, transform .3s ease;
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s, 0.3s;
    -webkit-transition-timing-function: ease, ease, ease;
            transition-timing-function: ease, ease, ease;
    -webkit-transition-delay: 0s, 0s, 0s;
            transition-delay: 0s, 0s, 0s;
    transition: opacity .3s ease, transform .3s ease;
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 28px;
    height: 5px;
    background-color: rgb(226,226,226);
    margin: 5px;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #3d3d52;
        display: felx;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 40%;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
        z-index: 99;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

@-webkit-keyframes navLinkFade{
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

.toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-8px,7px);
            transform: rotate(-45deg) translate(-8px,7px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-7px,-6px);
            transform: rotate(45deg) translate(-7px,-6px);
}

/*
** Container
*/
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: rgba(242,230,230, 0.96);
    position: relative;
    top: 80px;
}

.title-home {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.title-home img {
    width : 25px;
}

.title-home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 210px;
    max-width: 90%;
    height: 2px;
    background-color: black;
}

section {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/*
** Ubuntu
*/
#ubuntu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

#ubuntu img {
    width: 400px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}

#ubuntu .ubuntu-description {
    margin-left: 20px;
    margin-right: 20px;
}

#ubuntu .ubuntu-description p {
    line-height: 25px;
    letter-spacing: 0.3px;
}
 
/*
** Debian
*/
#debian {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

#debian img {
    width: 400px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}

#debian .debian-description {
    margin-left: 20px;
    margin-right: 20px;
}

#debian .debian-description p {
    line-height: 25px;
    letter-spacing: 0.3px;
}

#debian-xfce {
    max-width: 400px;
    margin-top: 20px;
    margin-left: 350px;
}

#debian-xfce + p {
text-decoration: underline;
margin-left: 385px;
}

/*
** Mageia
*/
#mageia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

#mageia img {
    width: 400px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}

#mageia .mageia-description {
    margin-left: 20px;
    margin-right: 20px;
}

#mageia .mageia-description p {
    line-height: 25px;
    letter-spacing: 0.3px;
}

#mageia-plasma {
    max-width: 400px;
    margin-top: 20px;
    margin-left: 350px;
}

#mageia-plasma + p {
text-decoration: underline;
margin-left: 385px;
}

/*
** Kali
*/
#kali {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}

#kali img {
    width: 400px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}

#kali .kali-description {
    margin-left: 20px;
    margin-right: 20px;
}

#kali .kali-description p {
    line-height: 25px;
    letter-spacing: 0.3px;
}

/*
** UBUNTU PAGE
*/
.ubuntu-title-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubuntu-title-home img {
    width: 50px;
    margin-right: 20px;
}

.ubuntu-section__introduction,
.ubuntu-section__points {
    background-color: rgb(255, 248, 248);
    margin: 0 10px;
    padding: 20px 0;
    border-radius: 5px;
}

.ubuntu-section__introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}

.ubuntu-section-introduction__description {
    width: 60%;
    margin-left: 15px;
    font-size: 18px;
}
.ubuntu-section-introduction__interface {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-right: 15px;
}

.ubuntu-section-introduction__interface .ubuntu-unity {
    max-width: 350px;
    margin: 0 auto;
}
.ubuntu-section-introduction__interface > p {
    font-size: 18px;
}

.ubuntu-section__introduction > p {
    padding-left: 30px;
}

.ubuntu-section__points {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ubuntu-section-points__blocks {
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(142, 127, 127);
    border-radius: 5px;
}

.ubutu-section-points__positive,
.ubutu-section-points__negative {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.ubutu-section-points__positive {
    max-width: 50%;
}

.ubutu-section-points__positive h2 {
    margin-bottom: 20px;
}

.ubutu-section-points__negative {
    margin-right: 20px;
    max-width: 50%;
}

.ubutu-section-points__negative h2 {
    margin-bottom: 20px;
}

/*
** MEDIA SCREEN HOME PAGE
*/

@media screen and (max-width: 1140px) {

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    #ubuntu {
        margin-left: 10px;
        margin-right: 10px;
    }

    #debian {
        margin-left: 10px;
        margin-right: 10px;
    }

    #mageia {
        margin-left: 10px;
        margin-right: 10px;
    }

    #kali {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 995px) {

    #ubuntu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 0;
    }

    #ubuntu .ubuntu-image {
        width: 100%;
    }

    #ubuntu img {
        width: 100%;
        max-width: none;
        height: 150px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-clip-path: none;
                clip-path: none;
    }

    #ubuntu .ubuntu-description {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #debian {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 0;
        margin-top: 30px;
    }

    #debian .debian-image {
        width: 100%;
    }

    #debian img {
        width: 100%;
        max-width: none;
        height: 150px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-clip-path: none;
                clip-path: none;
    }

    #debian .debian-description {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #mageia {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 0;
        margin-top: 30px;
    }

    #mageia .mageia-image {
        width: 100%;
    }

    #mageia img {
        width: 100%;
        max-width: none;
        height: 150px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-clip-path: none;
                clip-path: none;
    }

    #mageia .mageia-description {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #kali {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
        margin: 0;
        margin-top: 30px;
    }

    #kali .kali-image {
        width: 100%;
    }

    #kali img {
        width: 100%;
        max-width: none;
        height: 150px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-clip-path: none;
                clip-path: none;
    }

    #kali .kali-description {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

}
