<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/app.js" charset="utf-8"></script>
        <title>Distribution Debian</title>
    </head>
    <body>
        <nav>
            <a class="logo-link" href="../index.html">
                <div class="logo">
                    <img src="../assets/images/linux.png" alt="linux-logo">
                    <h4>Unix</h4>
                </div>
            </a>
            <ul class="nav-links">
                <li><a href="ubuntu.html">Ubuntu</a></li>
                <li><a href="debian.html">Debian</a></li>
                <li><a href="mageia.html">Mageia</a></li>
                <li><a href="kali.html">Kali</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="container">

            <h2 class="title-home">Debian</h2>

            <section id="debian">
                <!--<div class="debian-image">
                    <img src="../assets/images/debian.jpg" alt="debian-home">
                </div>
                <div class="debian-description">
                    <p>Debian est une organisation communautaire et démocratique, dont le but est le développement de systèmes d'exploitation basés exclusivement sur des logiciels libres.</p><br>
                    <p>Chaque système, lui-même nommé Debian, réunit autour d'un noyau de système d'exploitation de nombreux éléments pouvant être développés indépendamment les uns des autres, pour plusieurs architectures matérielles. Ces éléments, programmes de base complétant le noyau et logiciels applicatifs, se présentent sous forme de « paquets » qui peuvent être installés en fonction des besoins (voir Distribution des logiciels). L'ensemble système d'exploitation plus logiciels s'appelle une distribution.</p>
                </div>-->
                <div class="debian-infos">

                    <p>Distribution très connue lancée par Ian Murdock en 1993.</p>
                    <p>Une version stable sort tout les deux ans, ce qui veut dire que sa maintenance est assurée mais le délai peut être long.</p>

                    <p>
                        Les + : 

                        <ul>

                            <li>Debian est disponible gratuitement.</li>
                            <li>Utilise dpkg qui est un très bon système de paquets.</li>
                            <li>Peut être installée par CD, DVD, Blue-Ray, clé USB ou bien par réseau.</li>
                            <li>Debian est réputée pour l'intégration des paquets dans la machine. De plus tout les paquets de Debian peuvent-être trouvé
                            sur un seul site.</li>
                            <li>Recommandé pour les développeurs car intègre de base des outils de développement et de langage. Tout les logiciels dans la
                            distribution principale sont en code libre, on peut utiliser librement leurs codes pour les incorporer dans de nouveaux logiciels.</li>
                            <li>Les mises à jours sont faciles grâce à "apt get update".</li>
                            <li>Actuellement, Debian gère de nombreuses architectures de processeur : alpha, amd64, armel, hppa, i386, ia64, mips, mipsel, powerpc, s390 et sparc.</li>
                            <li>Le système Debian est très stable et les machines sous Debian peuvent même tenir plus d'une année sans être arrêtées.</li>
                        
                        </ul>
                    
                        Une distribution bien sécurisée :

                        <ul>
                            <li> Debian et la communauté du logiciel libre sont très réactifs pour s'assurer que les correctifs aux problèmes de sécurité intègrent 
                            la distribution rapidement.</li> 
                            <li> Habituellement, les paquets corrigés sont téléchargés en quelques jours.</li>
                            <li> La plupart des projets de logiciels libres disposent également de système de revue par des pairs ce qui empêche l'introduction de 
                            possibles problèmes de sécurité dès leurs débuts.</li>
                        
                        </ul>    
                    
                        Les - :

                        <ul>

                            <li>Debian peut-être difficile à configurer quand on a peu de connaissances en informatique.</li>
                            <li>Il manque également beaucoup de gros logiciels très populaires, comme Photoshop par exemple. Même si des logiciels libres imitant
                            leurs fonctions sont disponibles ils ne sont pas non plus équivalent.</li>
                            <li>Tout les matériels peuvent ne pas être supportés si le fabricant ne les fournis que les logiciels pilotes pour les plateformes Windows.</li>
                    
                        </ul>

                    </p>
                </div>    
            </section>

        </div>
    </div>>
    </body>
</html>
