<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/app.js" charset="utf-8"></script>
        <title>Système Linux-Kali</title>
    </head>
    <body>
        <nav>
            <a class="logo-link" href="../index.html">
                <div class="logo">
                    <img src="../assets/images/linux.png" alt="linux-logo">
                    <h4>Unix</h4>
                </div>
            </a>
            <ul class="nav-links">
                <li><a href="ubuntu.html">Ubuntu</a></li>
                <li><a href="debian.html">Debian</a></li>
                <li><a href="mageia.html">Mageia</a></li>
                <li><a href="kali.html">Kali</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="container">

            <div class="kali-title-home title-home">
                <img src="../assets/images/kali_logo.png" alt="Kali OS">
                <h2>Kali</h2>
            </div>
            
            <section class="kali-section">
            
                <div class="kali-section__infos">

                    <div class="kali-section__introduction">
                        <div class="kali-section-introduction__description">
                            <p>Kali Linux est un projet open source qui est maintenu et financé par Offensive Security.</p>
                            <p>C'est une distribution Linux basée sur Debian et destinée aux tests de pénétration et aux audits de sécurité avancés.</p>
                            <p>Kali Linux a été publié le 13 mars 2013 comme une reconstruction complète de BackTrack Linux.</p>
                        </div>
                        <div class="kali-section-introduction__interface">
                            <img class="kali-gnome" src="../assets/images/kali_gnome.png" />
                            <p> Kali sous l'environnement de bureau Gnome</p>
                        </div>
                    </div>

                    <div class="kali-section__points">
                        <div class="kali-section-points__blocks">
                            <div class="kali-section-points__positive">
                                
                                <div class="kali-section-points-positive__title">
                                    <img src="../assets/images/icon_plus.png" alt="Plus icon">
                                    <h2>Les plus</h2>
                                </div>
                                
                                <ul class="kali-section-points-positive__listing">
                                    <li>Kali comporte une suite d'outils gratuits et très avancés.</li>
                                    <li>Linux est proposé sur la base de logiciels libres.</li>
                                    <li>Utile pour les débutants en programmation.</li>
                                    <li>Kali est une distribution très légere.</li>
                                    <li>De nombreux outils de test d'intrusion sont disponibles avec Kali conçus pour faciliter l'inspection de la sécurité des réseaux.</li>
                                </ul>
                            </div>
                            
                            <div class="kali-section-points__negative">
                                <div class="kali-section-points-negative__title">
                                    <img src="../assets/images/icon_minus.png" alt="Minus icon">
                                    <h2>Les Moins</h2>
                                </div>

                                <ul class="kali-section-points-negative__listing" >
                                    <li>Les utilisateurs expérimentés se passeront vite des outils proposés par Kali.</li>
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>
