<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/app.js" charset="utf-8"></script>
        <title>Distribution Mageia</title>
    </head>
    <body>
        <nav>
            <a class="logo-link" href="../index.html">
                <div class="logo">
                    <img src="../assets/images/linux.png" alt="linux-logo">
                    <h4>Unix</h4>
                </div>
            </a>
            <ul class="nav-links">
                <li><a href="ubuntu.html">Ubuntu</a></li>
                <li><a href="debian.html">Debian</a></li>
                <li><a href="mageia.html">Mageia</a></li>
                <li><a href="kali.html">Kali</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="container">

            <h2 class="title-home">Mageia</h2>

           <!-- <section id="mageia">
                <div class="mageia-image">
                    <img src="../assets/images/mageia.jpg" alt="mageia-home">
                </div>-->
            <section>
                <div class="mageia-description">
                    <p>Mageia est un système d’exploitation libre, basé sur GNU/Linux. C’est un projet communautaire, soutenu par une association loi 1901 constituée de contributeurs élus.</p><br>
                    <p>But : fabriquer de superbes outils pour tout le monde.Au delà de fournir un système d’exploitation sûr, stable et durable pour vos ordinateurs, le but est aussi de devenir et faire vivre une communauté crédible et reconnue dans le monde du logiciel libre.</p>

                    <p>Maegia est une distribution éditée par Maegia.org .</p>
                    <p>La première version de Maegia est sortie le 1er juin 2011.</p>

                    <p>Environnements de bureau : Plasma/Gnome/Xfce/LXDE/LXQT</p>

                    <img id="mageia-plasma" src="../assets/images/maegia_plasma.jpg"/>

                    <p> Mageia sous l'environnement de bureau Plasma</p>

                    <p>
                        Les + :

                        <ul>

                            <li>Maegia est disponible gratuitement.</li>
                        <li>Distribution stable, une version de Maegia ne sort que lorsqu'elle est finalisée.</li>
                        <li>Maegia est libre donc son code peut être réutilisé ou modifier librement et gratuitement.</li>
                        <li>Distribution française donc toute la documentation et le site support sont disponibles en francais.</li>
                        <li>Facilement accessible pour les personnes qui découvrent Linux.</li>
                        <li>La configuration de Maegia est simple.</li>

                        </ul>

                    </p>
                    <p>
                    Les - :

                        <ul>

                            <li>Mageia a un peu de retard par rapport aux autres distributions Linux.</li>

                        </ul>
                    </p>
                </div>
            </section>

        </div>
    </body>
</html>
