<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/app.js" charset="utf-8"></script>
        <title>Distribution Ubuntu</title>
    </head>
    <body>
        <nav>
            <a class="logo-link" href="../index.html">
                <div class="logo">
                    <img src="../assets/images/linux.png" alt="linux-logo">
                    <h4>Unix</h4>
                </div>
            </a>
            <ul class="nav-links">
                <li><a href="ubuntu.html">Ubuntu</a></li>
                <li><a href="debian.html">Debian</a></li>
                <li><a href="mageia.html">Mageia</a></li>
                <li><a href="kali.html">Kali</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="container">

            <div class="ubuntu-title-home title-home">
                <img src="../assets/images/OS_Ubuntu.png" alt="Ubuntu OS">
                <h2>Ubuntu</h2>
            </div>

            <section class="ubuntu-section">
            
                <div class="ubuntu-section__infos">

                    <div class="ubuntu-section__introduction">
                        <div class="ubuntu-section-introduction__description">
                            <p>Ubuntu est une distribution lancée par la société Canonical en 2004.</p>
                            <p>Ubuntu est basée sur Debian.</p>
                            <p>Environnements de bureau : Unity (par défaut)/Kubuntu (KDE)/Xubuntu (xfce)/Lubuntu (LXDE)</p>
                        </div>
                        <div class="ubuntu-section-introduction__interface">
                            <img class="ubuntu-unity" src="../assets/images/ubuntu_unity.png" />
                            <p> Ubuntu sous l'environnement de bureau Unity</p>
                        </div>
                    </div>

                    <div class="ubuntu-section__points">
                        <div class="ubuntu-section-points__blocks">
                            <div class="ubutu-section-points__positive">
                                
                                <div class="ubuntu-section-points-positive__title">
                                    <img src="/assets/images/icon_plus.png" alt="Plus icon">
                                    <h2>Les plus</h2>
                                </div>
                                
                                <ul class="ubutu-section-points-positive__listing">
                                    <li>Ubuntu est disponible gratuitement et librement. Le code ubuntu peut être réutilisé, modifié à notre guise.</li>
                                    <li>Ubuntu est une distribution stable. De plus, des utilisateurs lambdas ne peuvent modifier aucun élément qui pourrait atteindre la stabilité générale.</li>
                                    <li>Son installation est facile.</li>
                                    <li>Une nouvelle version d'Ubuntu sort tout les 6 mois.</li>
                                    <li>Ubuntu est sécurisée </li>
                                    <li>On peut facilement installer des applications grâce à l'application "Logiciels Ubuntu"</li>
                                    <li>Possède une forte documentation francophone.</li>
                                    <li>On peut configurer ses pilotes à la souris.</li>
                                    <li>Basée sur Debian et possède donc une bonne compatibilité avec ses paquets.</li>
                                    <li>Les mises à jour de sécurité sont simples et gérées via de simples fenêtres.</li>
                                    <li>Ubuntu est accessible à tout type d'utilisateurs.</li>
                                </ul>
                            </div>
                            
                            <div class="ubutu-section-points__negative">
                                <div class="ubuntu-section-points-negative__title">
                                    <img src="/assets/images/icon_minus.png" alt="Plus icon">
                                    <h2>Les Moins</h2>
                                </div>

                                <ul class="ubutu-section-points-negative__listing" >
                                    <li>Les utilisateurs qui étaient sous une autre distribution Linux auparavant peuvent ne pas l'apprécier car Ubuntu modifie les environnements.</li>
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>
